.header-left {
    display: flex;
    flex-direction: column;      
    gap: 0.4rem;            
    margin-top: 0.5rem;
}

.header-left i {
    font-size: 2rem; 
    margin: 0;       
}

.title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.subtitle {
    margin: 0;
    color: #666;
    font-size: 0.9rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0rem 2rem 0.75rem 2rem;
    background-color: #ffffff;
    border-radius: 12px;
    color: #fff;
    max-width: 1480px;
    margin: 0 auto;
}

.icon-title {
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
}

.header-icon {
    font-size: 1.8rem;
    margin-top: 0.3rem;
    color: #000000;
}

.title {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 600;
     color: #000000;
}

.subtitle {
    margin: 0;
    font-size: 0.9rem;
    color: #000000;
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: -0.1rem;
}

.add-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 2.5rem;
    background-color: #4CAF50;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    height: 34px;
}

.add-button:hover {
    opacity: 0.9;
}

.filters-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.filter-item {
    margin-top: 2.6rem;
    display: flex;
    flex-direction: column;
    font-size: 0.95rem;
    background-color: white;
    color: #000000;
}

.filter-item label {
    margin-bottom: 0.2rem;
}


.filter-item input,
.filter-item select {
    height: 34px;
    padding: 0.3rem 0.5rem;
    border-radius: 6px;
    border: 1px solid #929191;
    background-color: #ffffff;
    color: #000000;
}

.filters-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
::ng-deep .filter-item .p-inputtext {
    background-color: white !important;
    color: black !important;
    border: 1px solid #ccc !important;
}

.filters-section {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}


.p-dialog .p-dialog-content {
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 8px;
}


.p-dialog .p-dialog-header {
    font-size: 1.25rem;
    font-weight: 600;
    color: #ddd6d6;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
}

.p-text-secondary {
    font-size: 0.9rem;
    color: #2c2b2b;
    margin-bottom: 1rem;
}


.flex.items-center {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.flex-auto {
    flex: 1;
}

label {
    font-weight: 500;
    color: #fff9f9;
}



.flex.justify-end .p-button {
    min-width: 90px;
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
}

.p-button-secondary {
    background-color: #f5f5f5;
    color: #2a2a2a;
    border: 1px solid #ccc;
}

.p-button:not(.p-button-secondary) {
    background-color: #4CAF50;
    color: #fff;
    border: none;
}

.p-button:hover {
    opacity: 0.9;
}

.p-dropdown-items-wrapper {
    max-height: 200px;
    overflow-y: auto;
}

.p-datepicker,
.p-dropdown-panel {
    z-index: 1 !important;
}

.p-dialog {
    overflow: visible !important;
}

.dialog-form-row {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.dialog-form-row label {
    width: 120px;
    font-weight: 500;
    color: #414040;
   
}


.dialog-form-row input,
.dialog-form-row .p-select,
.dialog-form-row .p-datepicker input {
    height: 48px;
    
    padding: 0.5rem;
    font-size: 0.95rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.dialog-form-row .p-datepicker {
    padding: 0 !important;
    display: flex;
    align-items: center;
}


.dialog-form-row .p-datepicker input {
    width: 100%;
}


.p-error {
    color: #ff4d4d;
    font-size: 0.8rem;
    margin-left: 120px;
    display: block;
    margin-top: -0.3rem;
    margin-bottom: 0.5rem;
}

.flex.justify-end {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

}
::ng-deep .filter-item .p-dropdown {
    background-color: white !important;
    color: black !important;
    border: 1px solid #ccc !important;
}

::ng-deep .filter-item .p-dropdown .p-dropdown-label {
    color: black !important;
}