body {
  background-color: #f8f9fa;
  font-family: 'Inter', sans-serif;
  margin: 0;
}



body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.p-paginator .p-paginator-page {
    color: black !important;
}


